<!DOCTYPE html>
<!-- needed to tell the browser we are using a api -->
<html ng-app lang="en">


<head>
    <meta charset="UTF-8">
    <title>Get Media</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <link href="search.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.js">
    </script>

    <script src="iTunesController.js">
    </script>
</head><!-- start bootstra pnav -->

<!-- use this scope the body -->

<body  ng-controller="iTunesController">

<nav class="navbar navbar-expand-md bg-light navbar-light">
    <!-- Brand -->
    <a class="navbar-brand" href="Index.html">Get Media <i class="fas fa-compact-disc animated fa-2x"></i></a> <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button> <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="voucher.html">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Search.html">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
            </li>
        </ul>
    </div><!-- end colapse -->
</nav><!-- end nav -->
<hr>
<!-- line -->

<div class="bg">
<!-- start wrapper -->
<div class="wrapper">


    <!-- blank div to help position grid elements -->
    <div class="block">

    </div><!-- end block --><!-- start search results -->


    <div class="results">

                <!-- ng-show directive to decide when to show results.. -->
                <table ng-show="songs">
                    <thead>
                    <tr>
                        <th>Album Artwork</th>
                        <th>Track</th>
                        <th>Preview&nbsp;</th>
                        <th>Price</th>

                    </tr>
                    </thead>
                    <tbody>
                    <!-- ng-repeat directive to loop over each
                         song in the songs list. -->
                    <!-- The song data is loaded into objects for
                         easy access. Just call on the attributes
                         you need. -->
                    <tr ng-repeat="song in songs">
                        <!-- ng-src lets you load imgs when data
                             is present. -->
                        <td><img ng-src="{{song.artworkUrl60}}"
                                 alt="{{song.collectionName}}"/></td>
                        <td>{{song.trackName}}</td>
                        <td> <a href="{{song.previewUrl}}"><i class="far fa-play-circle fa-2x"></i></a> </td>
                        <td>{{song.collectionPrice}}</td>

                    </tr>
                    </tbody>
                </table>
    </div><!-- end results -->


    <div class="search">

        {{ error }} <!-- show an error if there's a search error -->


        <!-- start search -->

        <form id="search" name="search" ng-submit="searchiTunes(artist)">


            <!-- Artist/band name required, use the ng-model
             directive to pass the artist name back into the
             controller/model -->

            <input type="search" id="searchBar" required placeholder="Artist" ng-model="artist"/>
            <input type="submit" id="searchBtn"value="Search"/>&nbsp;

        </form><!-- ng-show directive to decide when to show results.
             In this case, we will show the songs when there
             are songs to show. -->

    </div><!-- end search -->


</div><!-- end full image -->
    <!-- start footer -->
    <div class="footer">
        <hr>
        &ensp;&ensp;&ensp;<a href="www.facebook.com"><i class="fab fa-facebook fa-"></i></a> <a href="www.instagram.com"><i class="fab fa-twitter fa-"></i></a> <a href="wwww.twitter.com"><i class="fab fa-instagram fa-"></i></a> <!-- end footer -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
        </script>
    </div><!-- end of wrapper -->
</div>
</body>
</html>